@tailwind base;
@tailwind components;
@tailwind utilities;

.hand :first-child{ 
  /* buffer the rightmost card so it doesn't overflow the hand */
  width: 85px;
  flex-grow:0;
}
.hand .wider:hover{
  min-width: 103px;
}
.transform-right-32 *{
  transform: translateX(18px) !important;
}
.transition-smooth{
  transition: all 350ms linear !important;
}
